.search-box-style{
  color: white;
  background-color: #282c34;
  height: 2em;
  width: 100%;
  font-size: 3em;
}

/* mudar as cores do placeholder */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #666;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #666;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #66;
}
